<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="myCtrl">
      <p>Código del empleado:</p>
      <input type="number" ng-model="codigo" />
      <p>Número de horas trabajadas:</p>
      <input type="number" ng-model="horas" />
      <p>Tarifa por hora:</p>
      <input type="number" ng-model="tarifa" />
      <br />
      <p>Salario básico s/. {{ salarioBasico() || 0 }}</p>
      <p>Descuento s/. {{ descuento() || 0 }}</p>
      <p>Salario neto s/. {{ salarioNeto() || 0 }}</p>
    </div>
    <script src="app.js"></script>
  </body>
</html>
